<div class="row">
    <div class="col-lg-6 col-md-6">
        <h2 class="withlead">Listado de Medicamentos</h2>
        <p class="lead"></p>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="input-group">
        <input type="text" name="" placeholder="filtro" class="form-control">
      </div>
        <!-- <form class="navbar-form pull-right">
            <div class="input-group">
                <input type="search" name="search" class="form-control mayusculas" placeholder="Busqueda"
                       value="{{ filtro }}"/>
                <span class="input-group-btn">
                    {% if filtro %}
                        <button type="button" class="btn btn-danger" id="todos"><i
                                class="fa fa-refresh"></i></button>{% endif %}
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Buscar</button>
                </span>
            </div>
        </form> -->
    </div>

</div>
<div class="row spacedown">
    <div class="col-lg-5 col-md-5">      
      <a [routerLink]="['/medicamentos/create']" class="btn btn-primary"><i class="fa fa-plus-circle fa-green"></i>
          Registrar Medicamento</a>
    </div>    
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover table-condensed table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Posology</th>
            <th scope="col">Stock</th>
            <th scope="col">Expiration Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!medicamentos">
            <td colspan="6" style="text-align: center;">{{message}}</td>
          </tr>
          <tr *ngFor="let m of medicamentos; index as i">
            <th scope="row">{{ i + 1 }}</th>  
            <td>{{ m.name}}</td>
            <td>{{ m.posology}}</td>
            <td>{{ m.stock}}</td>
            <td>{{ m.expiration_date}}</td>
            <td>        
              <div class="dropdown">
                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                  Acciones
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" [routerLink]="['/medicamentos/edit/', m._id]">Modificar</a>   
                  <div class="dropdown-divider"></div> 
                  <a class="dropdown-item" [routerLink]="" (click)="delete(m._id)">Eliminar</a>           
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>